extends ./layouts/app.pug

block content
  h3 links to methods
  ul
    li
      a(href='/setHeroStats') Set Hero Stats
    li
      a(href='/getHeroStats') Get Hero Stats
    li 
      a(href='/uploadHeroImage') Upload Hero Avatar
    li 
      a(href='/getHeroImage') Show Hero Avatar
